
{% extends 'base.html' %}
{% load account %}
{% block title %}
<title>Web Pandas</title>
{% endblock %}



{% block contentexclude %}
<style>
/* .bg-image{
  color: white;
  background: #007ece;
  text-align: left;
  position: relative;
  overflow: hidden;
} */




p.centertext{
    margin-top: 2%;
    margin-bottom: 2%;
}

.panda{
    margin-left:3%;
}

</style>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <h1 class="mb-3">Web Pandas<span class="iconify panda" data-icon="mdi:panda" style="color:black;" data-width="96", data-height="96"></span></h1>
                <p class="font-size-lg text-muted mb-4">
                    A way to perform and teach basic operations from the
                    <u>
                        <a href='https://pandas.pydata.org/'>
                            pandas
                        </a>
                    </u>
                    data analytics package.
                </p>
                <div class="row">
                    <div class="col d-flex">
                        {% comment %}<a class="btn btn-success  flex-fill" href="{% url 'usermodel:signin' %}">Login</a>{% endcomment %}
                    </div>
                    <div class="col d-flex">
                        <a class="btn btn-success flex-fill" href="{% url 'usermodel:signup' %}">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 mb">
            <div class="container">
                <p class="centertext">Web Pandas is a website designed by Timothy Malahy. The site is entirely open sourced and accessible at 
                    <a href="https://github.com/TimothyMalahy/webpandas2">github.</a>
                    The intent is to teach people about pandas, a popular data analytics python backed by the Python programming language. The website is written using the Django Web Framework written in Python as well as Javascript, HTML, and CSS.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 text-center text-lg-left col-">
    <form class="d-flex pt-4 mx-auto mx-lg-0" style="max-width: 460px;">
    </form>
</div>
<a href="{% url 'account_login' %}">Sign In</a> or <a href="{% url 'account_signup' %}">Sign up</a>

{% endblock %}


