{% extends 'base.html' %}

{% block title %}
<title>Web Pandas</title>
{% endblock %}



{% block contentexclude %}
<style>
/* .bg-image{
  color: white;
  background: #007ece;
  text-align: left;
  position: relative;
  overflow: hidden;
} */




p.centertext{
    margin-top: 2%;
    margin-bottom: 2%;
}

</style>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <h1 class="mb-3">Webpandas</h1>
                <p class="font-size-lg text-muted mb-4">
                    A way to perform and teach basic operations from the 
                    <u>
                        <a href='https://pandas.pydata.org/'>
                            pandas
                        </a>
                    </u> 
                    data analytics package.
                </p>
                <div class="row">
                    <div class="col d-flex">
                        <a class="btn btn-success  flex-fill" href="https://app.appliku.com/" target="_blank">Login</a>

                    </div>
                    <div class="col d-flex">
                        <!-- <a class="btn btn-success flex-fill" href="{% url 'usermodel:signup' %}" target="_blank">Sign Up</a> -->
                        <button id="signup" class="btn btn-primary flex-fill" type="button" name="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 mb">
            <div class="container">
                <p class="centertext">Web Pandas is a website designed by Timothy Malahy. The site is entirely open sourced and accessible at 
                    <a href="https://github.com/TimothyMalahy/webpandas2">github.</a>
                    The intent is to teach people about pandas, a popular data analytics python backed by the Python programming language. The website is written using the Django Web Framework written in Python as well as Javascript, HTML, and CSS.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 text-center text-lg-left col-">
    <form class="d-flex pt-4 mx-auto mx-lg-0" style="max-width: 460px;">
    </form>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  
  <!-- Create book button -->
<button id="create-book" class="btn btn-primary" type="button" name="button">Create book</button>



{% endblock %}


<script type="text/javascript">
    $(document).ready(function() {
    
        $("#create-book").modalForm({
            formURL: "{% url 'usermodel:signup_modal' %}"
        });
    
    });
</script>