{% extends 'base.html' %}



{% block title %}
<title>download dataframes</title>
{% endblock %}

{% block alerts %}

    {% for alert in alerts %}
        <div class="alert {{alert.alerttype}}" role="alert">
            {{alert.message}}
        </div>
    {% endfor %}

{% endblock %}

{% block pagetitle %}
View your dataframes
{% endblock %}


{% block content %}




{% for frame in dataframes %}

    <div class="card">  
        <div class="card-header">
            {{frame.name}}
        </div>
        <div class="card-body">
            <a class="btn btn-primary" href="{{frame.dataframe.url}}" role="button">Download</a>
            <a class="btn btn-primary" href="{% url 'core:manipulate' id=frame.id %}" role="button">Manipulate Data</a>
        </div>
    </div>

{% endfor %}

{% endblock %}


